body {
background-color: rgba(50, 50, 50, 1);
color: white;
}

.name{
  border: 3px white dotted;
}

h1{
  display: flex;
  justify-content: center;
  font-family: 'Sue Ellen Francisco', cursive;
  font-variant-caps: all-small-caps;
}
h2{
  display: flex;
  justify-content: space-around;
  font-family: 'Sue Ellen Francisco', cursive;
}
